.choose-card {
  cursor: pointer;
  transition: all .2s linear;
  &:hover {
    box-shadow: 0 1rem 3rem rgba(0,0,0,.175)!important;
    transform: scale(1.04);
  }
}

.choose-card-icon {
  padding: 0.6rem 0.75rem;
  color: #fff;
  background-color: #0d6efd;
  border-color: #0d6efd;
  border-radius: 2rem;
}
